@media (min-width: 1024px) {
	.mobile-only {
		display: none !important;
	}

	.desktop-only {
		display: flex !important;
	}
}

@media (max-width: 1023px) {
	.desktop-only {
		display: none !important;
	}
}
